.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  z-index: 2;
  .overlay-off & {
    z-index: 0;
  }
}

video, .ie8-poster {
  position: fixed;
  top: 60px;
  left: 0; 
  bottom: 0;
  width: 100%; 
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.text-copy {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
  text-shadow: 1px 1px 1px #000;
  a { 
    color: #fff;
  }
}


@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
}

h1, p { font-weight: 300; color: #fff; }